@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

$color-red: #8b0000;
$color-burgundy: #ff0000;
$color-cream: #fff8dc;
$color-golden: #daa520;

$color-pumpkin: #d2691e;
$color-darkgrey: #26262b;
$color-grey: #47474b;
$color-lightgrey: #abc;
$color-white: #fff;

$pad: 0.5em;

$font-main: 'Lato', sans-serif;
$font-mono: 'Roboto Mono', monospace;
